body {
    background-image: url("https://images.pexels.com/photos/2078071/pexels-photo-2078071.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
}

.fileContainer {
    padding: 0;
}

.create-event-form {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: auto;
    background-color: #ccdadad1;
    border-style: solid;
    border-radius: 60px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.form-input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.form-submit {
    display: flex;
}

.form-submit-button {
    margin: auto;
}