.log-in {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 80px;
    background-color: rgba(224, 221, 202, 0.616);
}

.headers {
    margin-bottom: 60px;
}

.button {
    margin-bottom: 25px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}

.button:hover {
    box-shadow: 0px 0px 5px blue;
    color: blue;
}