@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.venue-card {
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    padding-bottom: 10px;
    background-color: rgb(205, 224, 241);
    text-align: center;
}

.venue-card:hover {
    color: green;
    border-color: green;
    cursor: pointer;
    animation: bounce 0.5s;
}

.venue-card-image {
    width: 100%;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-style: solid;
    border-width: 1px;
}

.venue-card-name {
    font-size: 100%;
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
}

.venue-card-location {
    font-size: 80%;
    margin: auto;
}

.venue-browser {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.venue-spread {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}